<footer class="footer-part">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="footer-logo">
            <div class="logo-img">
                <img src="../../assets/images/logo.png" alt="logo">
              </div>
          <div class="icons-footer">
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4v-8.5Z"/></svg></a>
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002ZM7 8.48H3V21h4V8.48Zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68Z"/></svg></a>
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="M22 5.8a8.49 8.49 0 0 1-2.36.64a4.13 4.13 0 0 0 1.81-2.27a8.21 8.21 0 0 1-2.61 1a4.1 4.1 0 0 0-7 3.74a11.64 11.64 0 0 1-8.45-4.29a4.16 4.16 0 0 0-.55 2.07a4.09 4.09 0 0 0 1.82 3.41a4.05 4.05 0 0 1-1.86-.51v.05a4.1 4.1 0 0 0 3.3 4a3.93 3.93 0 0 1-1.1.17a4.9 4.9 0 0 1-.77-.07a4.11 4.11 0 0 0 3.83 2.84A8.22 8.22 0 0 1 3 18.34a7.93 7.93 0 0 1-1-.06a11.57 11.57 0 0 0 6.29 1.85A11.59 11.59 0 0 0 20 8.45v-.53a8.43 8.43 0 0 0 2-2.12Z"/></svg></a>
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 1024 1024"><path fill="currentColor" d="M941.3 296.1a112.3 112.3 0 0 0-79.2-79.3C792.2 198 512 198 512 198s-280.2 0-350.1 18.7A112.12 112.12 0 0 0 82.7 296C64 366 64 512 64 512s0 146 18.7 215.9c10.3 38.6 40.7 69 79.2 79.3C231.8 826 512 826 512 826s280.2 0 350.1-18.8c38.6-10.3 68.9-40.7 79.2-79.3C960 658 960 512 960 512s0-146-18.7-215.9zM423 646V378l232 133l-232 135z"/></svg></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer-link">
            <h2>Links</h2>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Seller</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">All Products</a>
                </li>
            </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer-promises">
            <h2>Our promises</h2>
            <ul>
                <li>
                    Free delivery and returns
                </li>
                <li>
                    100-day return policy
                </li>
                <li>
                    fixible payment option
                </li>
                <li>
                    Redeem a gift card
                </li>
            </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="about-footer">
            <h2>About us</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat blanditiis voluptatum nihil delectus ipsa ut, commodi minima quos cupiditate ipsum.Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
    <p class="copy-right">OnlineShop all Rights Reserved.Designed By <a href="#">Tomal Ahmed Raj</a></p>
  </div>
</footer>
