// ====================== navigation-ber-part ==================
body {
  font-family: Roboto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navigation-ber-part {
  padding: 10px 0;
  background: #eef1f6;

  .navbar-brand img {
    max-width: 50px;
  }

  .nav-item {
    padding: 0 5px;
    font-size: 16px;
    font-weight: 400;
  }

  .card-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .bell-icon a {
    position: absolute;
  }

  .bell-icon svg {
    width: 25px;
    height: 25px;
  }

  .profile-icon {
    position: relative;
  }

  .profile-icon button {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0 !important;
    overflow: hidden;
    cursor: pointer;
    position: relative;
  }

  .profile-icon img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .cart-count {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: linear-gradient(90deg, rgba(255, 122, 31, 1) 0%, rgba(255, 55, 36, 1) 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 50%;
    position: relative;
    top: -6px;
    left: 8px;
  }

  .search-box {
    position: relative;
    font-size: 14px;

    input {
      font-size: 16px;
      padding-right: 75px !important;
      padding: 10px 15px;
    }
  }

  .search-box button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    color: #fff;
    border: none;
    background: linear-gradient(90deg, rgba(255, 122, 31, 1) 0%, rgba(255, 55, 36, 1) 100%);
  }

  .search-box button {
    padding: 4px 15px;
    border-radius: 0 5px 5px 0;
    height: 100%;
  }

  .custom-button {
    position: absolute;
    right: 0;
    top: 15px;
  }
}

.profile-child-icon {
  width: 22px !important;
  height: 22px;
  margin-right: 10px;
}

.dropdown-menu span {
  float: right;
  font-size: 16px;
  font-weight: 600;
  color: #262626;
}

 .dropdown-menu {
  width: 200px;
  top: 32px !important;
  right: 0 !important; 
  left: initial !important;
  padding: 10px !important;
  padding-bottom: 0 !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.dropdown-menu li {
  padding-bottom: 10px;
  cursor: pointer;
}
