// header part Responsive

@media screen and (max-width:767px) {
    .card-item {
        position: fixed;
        top: 35px;
        right: 100px;
    }
    .profile-item {
        position: fixed !important;
        top: 30px !important;
        right: 86px !important;
    }
    // seller auth sign up page
    .seller-auth-part {
        padding: 30px 0;
        height: auto;
    }
    .seller-auth-part .seller-text .seller-img img {
        width: 325px;
    }
    .seller-auth-part .seller-text p {
        font-size: 22px;
    }
    .seller-auth-part .seller-form {
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .navigation-ber-part {
        position: sticky;
        top: 0px;
    }
}
@media screen and (min-width:767px) and (max-width:1023px) {
    .card-item {
        position: fixed;
        top: 35px;
        right: 150px;
    }
    .profile-item {
        position: fixed !important;
        top: 30px !important;
        right: 140px !important;
    }
    // seller auth sign up page
}



