// header part Responsive

@media screen and (max-width:767px) {
    .card-item {
        position: fixed;
        top: 35px;
        right: 100px;
    }
    // seller auth sign up page
    .seller-auth-part {
        padding: 30px 0;
        height: auto;
    }
    .seller-auth-part .seller-text .seller-img img {
        width: 325px;
    }
    .seller-auth-part .seller-text p {
        font-size: 22px;
    }
}
@media screen and (min-width:767px) and (max-width:1023px) {
    .card-item {
        position: fixed;
        top: 35px;
        right: 150px;
    }
    // seller auth sign up page
}



