<!-- <div>
  <img src="{{productDetailsItem?.imgUrl}}" alt="">
  <h3>{{productDetailsItem?.name}}</h3>
  <h3>{{productDetailsItem?.category}}</h3>
  <h3>{{productDetailsItem?.model}}</h3>
  <h3>{{productDetailsItem?.color}}</h3>
  <h3>{{productDetailsItem?.description}}</h3>
  <p>hi</p>
</div> -->
<div class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="details-img">
                    <img src="{{productDetailsItem?.imgUrl}}" alt="product-details-img">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="details-text">
                    <h3>{{productDetailsItem?.name}}</h3>
                    <h5>Model: <span>{{productDetailsItem?.model}}</span></h5>
                    <h5>Category: <span>{{productDetailsItem?.category}}</span></h5>
                    <h5>Color: <span>{{productDetailsItem?.color}}</span></h5>
                    <h5>Description: </h5>
                    <p>{{productDetailsItem?.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

