.product-details{
    padding: 40px 0;
    background: #F7F9FF;
}
.details-img {
	padding: 10px 20px;
	background: #fff;
	margin: 0 50px;
    border-radius: 10px;
}
.details-img img{
    width: 100%;
}
.details-text{
    background: #fff;
    height: 100%;
    border-radius: 10px;
    padding: 10px 42px;
}
.details-text h3 {
    font-size: 22px;
    font-weight: 600;
    padding: 10px 0;
}
.details-text h5 {
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
    margin: 0;
    width: 40%;
}
.details-text h5 span{
    font-size: 16px;
    font-weight: 400;
    float: right;
}
.details-text h5 p{
    font-size: 16px;
    font-weight: 400;
    float: right;
    margin-top: 5px;
}
.product-list-text{
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 0;
}
.details-text   h4 {
    font-size: 20px;
    font-weight: 600;
    padding: 7px;
    text-align: center;
    color: rgb(18, 153, 232);
    background: #eff3fd;
    border-radius: 5px;
    margin-top: 12px;
}
.details-text   h4 span {
    font-size: 24px;
    font-weight: 900;
    line-height: 10px;
}
.add-cart {
	width: 100%;
	border: navajowhite;
	padding: 8px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 5px;
	background: #5b72ff;
	color: #fff;
    margin-bottom: 8px;
}
.more-details {
	width: 100%;
	border: navajowhite;
	padding: 8px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 5px;
	background: #6d7079;
	color: #fff;
}
.add-cart svg {
	margin-right: 10px;
	margin-bottom: 1px;
}
.details-btn {
    padding: 12px 0;
}
.details-btn button {
    border: navajowhite;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    background: #5b72ff;
    color: #fff;
    margin-right: 10px;
}
.details-btn .buy-btn {
    background:#27ae60;
}
.quantity-group{
    margin: 2px 0;
    display: inline-block;
    position: relative;
}
.quantity-group input {
    height: 36px;
    text-align: center;
    width: 200px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #ddd;
}
.quantity-group .minus{
    height: 100%;
    border: 1px solid #ddd;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.quantity-group .plus{
    height: 100%;
    border: 1px solid #ddd;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}
.quantity-group button svg{
    margin-bottom: 2px;
}
.remove-to-cart{
    background: #e74c3c !important;
}
.details-text .price {
	font-size: 18px;
	font-weight: 600;
	padding: 3px 20px;
	text-align: center;
	color: rgb(18, 153, 232);
	background: #eff3fd;
	border-radius: 20px;
	margin-left: 20px;
	display: inline-block;
}
.details-text h3{
    display: inline-block;
}