.product-list-part{
    padding: 30px 0;
}
.product-list-item {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all linear 0.2s;
}
.product-list-item:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.product-img{
    border-bottom: 1px solid #dadfe8;
    padding: 10px 20px;
}
.product-img img{
    width: 100%;
}
.product-text h3 {
    font-size: 19px;
    font-weight: 600;
    padding: 10px 0;
}
.product-text h5 {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
    margin: 0;
}
.product-text h5 span{
    font-size: 16px;
    font-weight: 400;
    float: right;
}
.product-text h5 p{
    font-size: 16px;
    font-weight: 400;
    float: right;
    margin-top: 5px;
}
.product-text   h4 {
    font-size: 20px;
    font-weight: 600;
    padding: 7px;
    text-align: center;
    color: rgb(18, 153, 232);
    background: #eff3fd;
    border-radius: 5px;
    margin-top: 12px;
}
.product-text   h4 span {
    font-size: 24px;
    font-weight: 800;
    line-height: 10px;
}
.product-text   p {
    font-size: 14px;
    font-weight: 400;
}
.seeMore {
    font-weight: 500;
    color: #fd4e1d;
    margin: 0;
    border: none;
    background: transparent;
}
.product-list-text {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}
.action-btn button {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
}
.delete-btn{
    margin-right: 10px;
    background-color:#ff3636 ;
}
.update-btn{
    background-color: #0abb0a;
}
.action-btn svg {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
}
.input-box input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 15px;
    height: 40px;
    padding: 0px 20px;
    font-size: 14px;
  }
  .input-box textarea {
      display: block;
      width: 100%;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      margin-bottom: 15px;
      height: 100px;
      padding: 10px 20px;
      font-size: 14px;
    }
    .update-product-form button {
        width: 100%;
        background: #0250c5;
        border: 0px;
        cursor: pointer;
        color: #fff;
        padding: 9px 20px;
        border-radius: 3px;
        box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.1);
        margin-top: 15px;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        transition: all 0.3s ease-in;
    }