<div class="cart-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-detailes-all">
                    <div class="row justify-content-center">
                        <div class="col-lg-2">
                            <div class="cart-img">
                                <img src="https://www.startech.com.bd/image/cache/catalog/mobile/apple/iphone-14-pro-max/deep-purple/iphone-14-pro-max-deep-purple-01-500x500.webp" alt="cart img">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="cart-details">
                                <h1>hiii</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h4>hqqq</h4>
            </div>
        </div>
    </div>
</div>
