<section class="seller-auth-part">
    <div class="container">
        <div class="row main-bg">
            <div class="col-lg-8 p-0">
                <div class="seller-text">
                    <h1>WELCOME TO SELLER PAGE</h1>
                    <div class="seller-img">
                        <img src="../../assets/images/seller-signUp.png" alt="seller-signup">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-0">
                <div class="seller-form">
                    <h1>Seller SignUp</h1>
                    <form>
                        <input type="text" placeholder="Enter Name">
                        <input type="email" placeholder="Enter email" required>
                        <input type="password" placeholder="Enter password" required>
                        <button>SignUp</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
