<section class="seller-auth-part user-auth-part">
    <div class="container">
      <div class="row full-width">
        <div class="col-lg-8 two-part">
          <div class="seller-text">
            <h1>WELCOME</h1>
            <div class="seller-img">
              <img src="../../assets/images/user.svg" alt="seller-signup">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Modi, illo non exercitationem delectus ut
              consequatur.</p>
          </div>
        </div>
        <div class="col-lg-4 two-part">
          <div class="seller-form">
            <div *ngIf="showLogin" class="all-signup">
              <h1>Create an account</h1>
              <form #sellerSignUp="ngForm" (ngSubmit)="signUpUser(sellerSignUp.value)" class="from-box">
                <div class="input-box">
                  <input type="text" ngModel name="name" placeholder="Enter Name" #name="ngModel" required minlength="3" maxlength="10">
                </div>
                <p class="input-validation" *ngIf="name.invalid && name.touched">Enter 3 to 10 character Name</p>
                <div class="input-box">
                  <input type="email" ngModel name="email" placeholder="Enter email" #email="ngModel" email required>
                </div>
                <p class="input-validation" *ngIf="email.invalid && email.touched">Enter valid Email</p>
                <div class="input-box">
                  <input type="password" ngModel name="password" placeholder="Enter password" #password="ngModel" minlength="4" maxlength="10"  required>
                </div>
                <p class="input-validation" *ngIf="password.invalid && password.touched">Enter 4 to 10 character Password</p>
                <button [disabled]="sellerSignUp.invalid">Sign Up</button>
              </form>
              <p>Already have an account? 
                <a (click)="loginPageUser()">LogIn</a>
            </p>
            </div>
  
  
            <div *ngIf="!showLogin" class="all-signup">
              <h1>Log In</h1>
              <div class="text-center">
                <p class="d-inline-block m-0 me-3 p-0">Emial: <strong>to@gmail.com</strong></p>
                <p class="d-inline-block m-0 p-0">Password: <strong>1234</strong></p>
              </div>
              <form #sellerLogIn="ngForm" (ngSubmit)="logInUser(sellerLogIn.value)" class="from-box">
                <div class="input-box">
                  <input type="email" ngModel name="email" placeholder="Enter email" #email="ngModel" email required>
                </div>
                <p class="input-validation" *ngIf="email.invalid && email.touched">Enter valid Email</p>
                <div class="input-box">
                  <input type="password" ngModel name="password" placeholder="Enter password" #password="ngModel" minlength="4" maxlength="10" required>
                </div>
                <p class="input-validation" *ngIf="password.invalid && password.touched">Enter valid Password</p>
                <p class="err-message">{{userLoginError}}</p>
                <button [disabled]="sellerLogIn.invalid">Log In</button>
              </form>
              <p>Don't have any account? 
                <a (click)="signUpPageUser()">SignUp</a>
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  