<div class="loader" *ngIf="loader">
    <div class="loadingio-spinner-spin-tzymun671nq">
      <div class="ldio-sylndcx9iw">
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
      </div>
    </div>
</div>
